h1 {
    color: white;/*Se cambia el contraste de las letras, para que sea mas agradable*/
    background-color: rgb(0, 140, 255);
    padding: 5%;
    margin-top: auto;
    text-align: center;
    border-radius: 8px;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    
}

form {
    width: 100%;/*El ancho del formulario es exagerado, por lo que se cambia*/
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}
button{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.contact-form{
    border-radius: 5px;
    border-bottom: 5px;
}
